{% extends "blog/layouts/base.html" %}

<!--  -->

{% block title %} About | Fantom Blog {% endblock %}

<!--  -->

{% block content %}

<!--================ About Area =================-->
<section class="contact_area pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- about -->

        <p>Hello, Dear friends, Welcome to Fantom Blog also, we are happy you want to know something more about our site</p>

<p>So, basically, nowadays people are more dependent on online products and services that's why we also, take forward a step to help you.</p>

<p>Our first wish is to provide you with a better solution to solve your problem. So, kindly if you don't get any solution then mention it in the comment section.</p>

<p>Also, we are trying to provide fresh & latest content that provides you ideas about all updated information that's happening in the world.</p>

<p>In the below section you can get more ideas about our site like our website category and content category.</p>

<p>If you have additional questions or require more information about our About Us Page, do not hesitate to contact us through email at <b>contact.fantomblog@gmail.com</b></p>

<h2><b>What is Our Goal?</b></h2>

<p>There are millions of websites created every day, also, there is much fake content spread on the internet.</p>

<p>So, Our main goal is to provide you with 100% Original and Safe content that provides you a great and better experience on the world wide web.</p>

<p>We mainly focus on our service so and improving it regularly to provide a better user experience to all users.</p>

<p>Basically, we focus on the Technology, Business, Startups, News, Entertainment, Politics, Sports and more niche so, our main priority is to search for new content and present it in front of you to learn something new. </p>

<h3><b>What is our Service?</b></h3>

<p>We are mainly focused on the Technology, Business, Startups, News, Entertainment, Politics, Sports and more category so, we provide Technology, Business, Startups, News, Entertainment, Politics, Sports and more related content if you are interested in the Technology, Business, Startups, News, Entertainment, Politics, Sports and more category then you can visit daily to get more latest information.</p>

<p>Arunesh helps to you get latest update related to business, technology, startups and much more.</p>

<p>On our website Fantom Blog you get can all Technology, Business, Startups, News, Entertainment, Politics, Sports and more related information also, we focus on many other categories and we hope you like also, the content of other categories that are maintained on our website. So, you can visit our website homepage to know all category details here you can visit our homepage Click here --><a href"https://fantom-blog.herokuapp.com/">Fantom Blog</a>.</p>

<p>Also, we provide a Notification update service you can join by email and other Social Media Platforms, and all Links you can get on the Homepage visit now. <a href"https://fantom-blog.herokuapp.com/">Fantom Blog</a></p>

<h3><b>About Fantom Blog</b></h3>

<p>As you can see already we mention what is our goal and Service again we repeat that we mainly focus on Technology, Business, Startups, News, Entertainment, Politics, Sports and more Category to help people.</p>

<p>This Website is Created By Fantom Blog to help people because many people are still spending hours of time to get exact information so, this is the only motive to create <a href"https://fantom-blog.herokuapp.com/">Fantom Blog</a> to help people and provide them a better web experience.</p>

<p>Now, the time is to know about the Admin Details of this website, so, now we have to go down to know about Admin details.</p>

<h3><b>Admin's Statement for Fantom Blog</b></h3>

<p>As per my point of view, there are many people who visit the internet to get some information but 90% of the time they get wrong information so, the first priority of our website Fantom Blog is to provide 100% legit and accurate information to our users, Also, I hope my dream comes true one day, and our website will provide Original Content to provide a better user experience. So, From my Side thanks for visiting our website.</p>

<h3><b>Admin's Contact Information</b></h3>

<p>Hi, this Arunesh kumar, in the above paragraph you know about the website properly and now I am going to provide my contact details.</p>

<p>If you have any problem & suggestions for this website then you can contact me by using following contact details.</p>

<center>
    <table><tbody><tr><td>Name</td><strong><td>Arunesh kumar</strong></td></tr><tr><td>Email</td><td><strong>aruneshkumar.king@gmail.com</strong></td></tr><tr><td>Instagram Id</td><td><a href="https://www.instagram.com/kingarunesh/"><strong>https://www.instagram.com/kingarunesh/</a></strong></td></tr><tr><td>Twitter Id</td><td><strong><a href="https://twitter.com/kingarunesh">https://twitter.com/kingarunesh</a></strong>/</td></tr><tr><td>Linkedin Id</td><td><a href="https://www.linkedin.com/in/kingarunesh/"><strong>https://www.linkedin.com/in/kingarunesh/</strong></a></td></tr></tbody></table>
</center>

<p>These details are my personal Account details if you want to contact me then you can contact me by the above platform.</p>

<p>If you want to contact us then you can email us at contact.fantomblog@gmail.com also, you can contact us by our contact us form. Go to homepage --> <a href="https://fantom-blog.herokuapp.com/">Fantom Blog</a><a href="https://soumyahelp.com/about-us-generator/">.</a></p>

<center>
    <p>"Thanks for visiting our About Us Page"</p>
</center>
  

        <!-- end about -->
      </div>
    </div>
  </div>
</section>
<!--================ About Area =================-->

{% endblock %}
