{% extends "blog/layouts/base.html" %}

<!--  -->

{% block title %} Blogs | Fantom Blog {% endblock %}

<!--  -->

{% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Category</h2>
        <div class="page_link">
          <a href="{{ url_for('home') }}">Home</a>
          <span style="color: white">Blogs</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Blog Area =================-->
<section class="blog_area pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          {% for post in pages.items %}
          <article class="blog_style1">
            <div class="blog_img">
              <img
                class="img-fluid"
                src="{{ post.image_url }}"
                alt=""
                style="width: 100%; max-height: 500px"
              />
            </div>
            <div class="blog_text">
              <div class="blog_text_inner">
                <span class="cat">{{ post.category }}</span>
                <a href="{{ url_for('post_detail', post_id=post.id) }}"
                  ><h4>{{ post.title }}</h4></a
                >
                <p>{{ post.subtitle }}</p>
                <div class="date">
                  <a href="{{ url_for('post_detail', post_id=post.id) }}"
                    ><i class="fa fa-calendar" aria-hidden="true"></i>{{
                    post.updated_date }}</a
                  >
                  <a href="{{ url_for('post_detail', post_id=post.id) }}"
                    ><i class="fa fa-eye fa-lg" aria-hidden="true"></i>{{ post.
                    total_view }}</a
                  >
                </div>
              </div>
            </div>
          </article>
          {% endfor %}

          <!-- pagination -->
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <!-- Previous -->
              <li
                class="page-item {% if not pages.has_prev %}disabled{% endif %}"
              >
                <a
                  href="{{ url_for('blog', page=pages.prev_num) }}"
                  class="page-link"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              <!-- end Previous -->

              {% for page in pages.iter_pages() %}
              <li
                class="page-item {% if page == pages.page %}active{% endif %}"
              >
                <a href="{{ url_for('blog', page=page) }}" class="page-link"
                  >{{ page }}</a
                >
              </li>
              {% endfor %}

              <!-- next -->
              <li
                class="page-item {% if not pages.has_next %}disabled{% endif %}"
              >
                <a
                  href="{{ url_for('blog', page=pages.next_num) }}"
                  class="page-link"
                  aria-label="Next"
                >
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
              <!-- end next -->
            </ul>
          </nav>
          <!-- end pagination -->
        </div>
      </div>
      <div class="col-lg-4">{% include 'blog/include/sidebar.html' %}</div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->

{% endblock %}
