{% extends "blog/layouts/base.html" %}

<!--  -->

{% block title %} Fantom Blog | Get latest blogs {% endblock %}

<!--  -->

{% block content %}

<!--================Post Slider Area =================-->
<section class="post_slider_area">
  <div class="post_slider_inner owl-carousel">
    <!-- start slide post -->
    {% for post in posts: %}
    <div class="item">
      <div class="post_s_item">
        <div class="post_img slider-post-img">
          <img src="{{ post.image_url }}" alt="" />
        </div>
        <div class="post_text">
          <a class="cat" href="#">{{ post.category }}</a>
          <a href="{{ url_for('post_detail', post_id=post.id) }}"
            ><h4>{{ post.title }}</h4></a
          >

          <div class="date">
            <a href="{{ url_for('post_detail', post_id=post.id) }}"
              ><i class="fa fa-calendar" aria-hidden="true"></i> {{
              post.updated_date }}</a
            >
            <a href="{{ url_for('post_detail', post_id=post.id) }}"
              ><i class="fa fa-eye fa-lg" aria-hidden="true"></i>{{ post.
              total_view }}</a
            >
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- end slide post -->
  </div>
</section>
<!--================End Post Slider Area =================-->

<!--================Blog Area =================-->
<section class="blog_area pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog_left_sidebar">
          <!-- START POST -->
          {% for post in pages.items %}
          <article class="blog_style1">
            <div class="blog_img">
              <img
                class="img-fluid"
                src="{{ post.image_url }}"
                alt=""
                style="width: 100%; max-height: 500px"
              />
            </div>
            <div class="blog_text">
              <div class="blog_text_inner">
                <span class="cat">{{ post.category }}</span>
                <a href="{{ url_for('post_detail', post_id=post.id) }}"
                  ><h4>{{ post.title }}</h4></a
                >
                <p>{{ post.subtitle }}</p>
                <div class="date">
                  <a href="{{ url_for('post_detail', post_id=post.id) }}">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    {{ post.updated_date }}</a
                  >
                  <a href="{{ url_for('post_detail', post_id=post.id) }}">
                    <i class="fa fa-eye fa-lg" aria-hidden="true"></i>{{ post.
                    total_view }}
                  </a>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
          <!-- END POST -->

          <!-- pagination -->
          <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <!-- Previous -->
              <li
                class="page-item {% if not pages.has_prev %}disabled{% endif %}"
              >
                <a
                  href="{{ url_for('home', page=pages.prev_num) }}"
                  class="page-link"
                  aria-label="Previous"
                >
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                  </span>
                </a>
              </li>
              <!-- end Previous -->

              {% for page in pages.iter_pages() %}
              <li
                class="page-item {% if page == pages.page %}active{% endif %}"
              >
                <a href="{{ url_for('home', page=page) }}" class="page-link"
                  >{{ page }}</a
                >
              </li>
              {% endfor %}

              <!-- next -->
              <li
                class="page-item {% if not pages.has_next %}disabled{% endif %}"
              >
                <a
                  href="{{ url_for('home', page=pages.next_num) }}"
                  class="page-link"
                  aria-label="Next"
                >
                  <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                  </span>
                </a>
              </li>
              <!-- end next -->
            </ul>
          </nav>
          <!-- end pagination -->
        </div>
      </div>

      <div class="col-lg-4">{% include 'blog/include/sidebar.html' %}</div>
    </div>
  </div>
</section>
<!--================Blog Area =================-->

{% endblock %}
