/**************************************************************************************************
*
*               profile.html
*
**************************************************************************************************/

/* Rounded tabs */
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

/* my custom css */

.profile-img {
  border-radius: 50%;
  height: 320px;
  width: 320px;
}

@media only screen and (max-width: 600px) {
  .profile-img {
    height: 180px;
    width: 180px;
  }

  .pro-img-container {
    text-align: center;
  }

  .profile-body {
    padding-top: 1.5rem;
  }

  .saved-table th {
    min-width: 150px;
  }
}

.tab-style {
  background-color: rgb(234, 234, 234);
  padding: 0.6rem;
}

/**************************************************************************************************
*
*               post-details.html
*
**************************************************************************************************/

.cat-bookmark {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* .bookmark-link:hover {
  color: none;
  background: none;
} */

.bookmark-icon a:hover {
  color: blue !important;
}

/**************************************************************************************************
*
*               login.html
*
**************************************************************************************************/

.div-form {
  margin: auto;
  padding: 2rem;
}

.pad-form {
  padding: 3rem 0;
}

.account-form {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .div-form {
    padding: 1rem;
  }

  .pad-form {
    padding: 3rem 0;
  }
}
