{% extends "admin/layouts/base.html" %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- TEST Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5
                  class="card-title"
                  style="text-align: center; font-size: 1.5rem"
                >
                  Total Posts
                </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    style="
                      background-color: rgba(55, 251, 55, 0.5);
                      color: green;
                    "
                  >
                    <!-- <i class="bi bi-people"></i> -->
                    <i class="bi bi-plus-lg"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Customers <span>| This Year</span></h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>1244</h6>
                    <span class="text-danger small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- End TEST Card -->

          <!-- LAST 5 POSTS -->
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="filter">
                <a href="{{ url_for('get_all_post') }}" class="m-5"
                  ><span
                    style="
                      color: rgb(10, 10, 222);
                      font-size: 1.1rem;
                      text-decoration: underline;
                    "
                    >All Posts</span
                  ></a
                >
              </div>

              <div class="card-body pb-0">
                <h5 class="card-title">Last 5 Posts</h5>

                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Preview</th>
                      <th scope="col" style="width: 400px">Title</th>
                      <th scope="col">Category</th>
                      <th scope="col">Updated Date</th>
                      <th scope="col">Views</th>
                      <th scope="col">Comments</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post in posts: %}
                    <tr>
                      <th>{{ post.id }}</th>
                      <th scope="row">
                        <a
                          href="{{ url_for('post_detail', post_id=post.id) }}"
                          target="_blank"
                          ><img src="{{ post.image_url }}" alt=""
                        /></a>
                      </th>
                      <td>
                        <a
                          href="{{ url_for('post_detail', post_id=post.id) }}"
                          target="_blank"
                          class="text-primary fw-bold"
                          >{{ post.title }}</a
                        >
                      </td>
                      <td>{{ post.category }}</td>
                      <td>{{ post.updated_date }}</td>
                      <td class="fw-bold">{{ post.total_view }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End Top Selling -->
        </div>
      </div>
      <!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-6">
        <!-- Recent Activity -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>

            <div class="activity">
              <div class="activity-item d-flex">
                <div class="activite-label">32 min</div>
                <i
                  class="bi bi-circle-fill activity-badge text-success align-self-start"
                ></i>
                <div class="activity-content">
                  Quia quae rerum
                  <a href="#" class="fw-bold text-dark">explicabo officiis</a>
                  beatae
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">56 min</div>
                <i
                  class="bi bi-circle-fill activity-badge text-danger align-self-start"
                ></i>
                <div class="activity-content">
                  Voluptatem blanditiis blanditiis eveniet
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 hrs</div>
                <i
                  class="bi bi-circle-fill activity-badge text-primary align-self-start"
                ></i>
                <div class="activity-content">
                  Voluptates corrupti molestias voluptatem
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">1 day</div>
                <i
                  class="bi bi-circle-fill activity-badge text-info align-self-start"
                ></i>
                <div class="activity-content">
                  Tempore autem saepe
                  <a href="#" class="fw-bold text-dark">occaecati voluptatem</a>
                  tempore
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">2 days</div>
                <i
                  class="bi bi-circle-fill activity-badge text-warning align-self-start"
                ></i>
                <div class="activity-content">
                  Est sit eum reiciendis exercitationem
                </div>
              </div>
              <!-- End activity item-->

              <div class="activity-item d-flex">
                <div class="activite-label">4 weeks</div>
                <i
                  class="bi bi-circle-fill activity-badge text-muted align-self-start"
                ></i>
                <div class="activity-content">
                  Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                </div>
              </div>
              <!-- End activity item-->
            </div>
          </div>
        </div>
        <!-- End Recent Activity -->

        <!-- Website Traffic -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">Website Traffic <span>| Today</span></h5>

            <div
              id="trafficChart"
              style="min-height: 400px"
              class="echart"
            ></div>

            <script>
              document.addEventListener("DOMContentLoaded", () => {
                echarts
                  .init(document.querySelector("#trafficChart"))
                  .setOption({
                    tooltip: {
                      trigger: "item",
                    },
                    legend: {
                      top: "5%",
                      left: "center",
                    },
                    series: [
                      {
                        name: "Access From",
                        type: "pie",
                        radius: ["40%", "70%"],
                        avoidLabelOverlap: false,
                        label: {
                          show: false,
                          position: "center",
                        },
                        emphasis: {
                          label: {
                            show: true,
                            fontSize: "18",
                            fontWeight: "bold",
                          },
                        },
                        labelLine: {
                          show: false,
                        },
                        data: [
                          {
                            value: 1048,
                            name: "Search Engine",
                          },
                          {
                            value: 735,
                            name: "Direct",
                          },
                          {
                            value: 580,
                            name: "Email",
                          },
                          {
                            value: 484,
                            name: "Union Ads",
                          },
                          {
                            value: 300,
                            name: "Video Ads",
                          },
                        ],
                      },
                    ],
                  });
              });
            </script>
          </div>
        </div>
        <!-- End Website Traffic -->
      </div>
      <!-- End Right side columns -->
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
