<header class="header_area">
      <div class="logo_part">
        <div class="container">
          <a class="logo" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" /></a>
        </div>
      </div>
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="index.html"
              ><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse offset"
              id="navbarSupportedContent"
            >
              <ul class="nav navbar-nav menu_nav">

                <!-- home -->
                <li
                {% if '/' == path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
                 >
                  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>

                <!-- blog -->
                <li
                  {% if '/blog' == path %}
                    class="nav-item active"
                  {% else %}
                    class="nav-item"
                  {% endif %}
                >                  
                  <a class="nav-link" href="{{ url_for('blog') }}">Blog</a>
                </li>

                <!-- about -->
                <li 
                {% if '/about' == path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
                >
                  <a class="nav-link" href="{{ url_for('about') }}"
                    >About</a>
                </li>

                <!-- contact -->
                <li 
                {% if '/contact' == path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
                >
                  <a class="nav-link" href="{{ url_for('contact') }}"
                    >Contact</a>
                </li>
              </ul>

              <!-- right side -->
              <ul class="nav navbar-nav navbar-right ml-auto">

                {% if logged_in: %}
                
                <!-- logout -->
                <li class="nav-item" >
                  <a class="nav-link" href="{{ url_for('logout') }}"
                    >Logout</a>
                </li>

                {% else %}

                <!-- register -->
                <li 
                {% if '/register' == path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
                >
                  <a class="nav-link" href="{{ url_for('register') }}"
                    >Register</a>
                </li>
                
                <!-- login -->
                <li 
                {% if '/login' == path %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
                >
                  <a class="nav-link" href="{{ url_for('login') }}"
                    >Login</a>
                </li>

                
                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>