<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <style>
      .container {
        text-align: center;
        margin: auto;
        margin-top: 5rem;
      }

      .container h1 {
        font-size: 4rem;
      }

      .container p {
        color: rgb(95, 94, 94);
        font-size: 1.2rem;
        margin: 2rem 0;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="header">404 Not Found</h1>

      <p class="text">Page not found, Please enter currect url.</p>

      <span>Go to <a href="{{ url_for('home') }}">Home</a></span>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
