{% extends "admin/layouts/account-base.html" %} {% block content %}

<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <div class="logo d-flex align-items-center w-auto">
                <img
                  src="{{ url_for('static', filename='admin/assets/img/logo.png') }}"
                  alt=""
                />
                <span class="d-none d-lg-block"> FantomAdmin</span>
              </div>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-4">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Forget Password
                  </h5>
                  <p class="text-center small">Enter your email address</p>

                  <!-- note -->
                  <div style="padding-top: 1rem; color: grey">
                    <h5 style="font-weight: bold">
                      Let's get you into your account
                    </h5>
                    <ul>
                      <li>
                        Tell us your email address, then we will send you
                        password reset link.
                      </li>
                      <li>Please enter correct email address.</li>
                      <li>
                        If your email is wrong then you will not get password
                        reset link.
                      </li>
                    </ul>
                  </div>
                  <!-- end note -->
                </div>

                <form
                  action="{{ url_for('admin_forget_password') }}"
                  class="row g-3 needs-validation"
                  method="POST"
                >
                  <!-- error message -->
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-danger">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}
                  <!-- end error message -->

                  <!-- email -->
                  <div class="col-12">
                    <label for="email" class="form-label">Your Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter a valid Email adddress!
                    </div>
                  </div>

                  <!-- button -->
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Send
                    </button>
                  </div>

                  <!-- register -->
                  <div class="col-12 pt-4">
                    <p class="small mb-0">
                      Don't have account ?
                      <a href="{{ url_for('admin_register') }}"
                        ><strong>Create an account</strong></a
                      >
                    </p>
                  </div>
                  <!-- end register -->

                  <!-- forget password -->
                  <div class="col-12">
                    <p class="small mb-0">
                      If you forget password ?
                      <a href="{{ url_for('admin_register') }}"
                        ><strong>Forget Password</strong></a
                      >
                    </p>
                  </div>
                  <!-- end forget password -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->

{% endblock %}
