{% extends "admin/layouts/base.html" %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="breadcrumb-item">Admin</li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card p-3">
          <img
            src="{{ user.profile_image }}"
            alt="Profile"
            style="width: 100%; border-radius: 1rem"
          />
          <h2 class="p-5 pb-2">{{ user.firstName }} {{ user.lastName }}</h2>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
              <!-- overview -->
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Overview
                </button>
              </li>

              <!-- edit profile -->
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Edit Profile
                </button>
              </li>

              <!-- settings -->
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-settings"
                >
                  Settings
                </button>
              </li>

              <!-- change password -->
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Change Password
                </button>
              </li>
            </ul>

            <!-- body -->
            <div class="tab-content pt-2">
              <!-- overview -->
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <h5 class="card-title">Profile Details</h5>

                <!-- name -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.firstName }} {{ user.lastName }}
                  </div>
                </div>

                <!-- email -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                </div>

                <!-- email -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                </div>

                <!-- email -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Created Date</div>
                  <div class="col-lg-9 col-md-8">{{ user.created_date }}</div>
                </div>

                <!-- email -->
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Last Login</div>
                  <div class="col-lg-9 col-md-8">{{ user.last_login }}</div>
                </div>
              </div>
              <!-- end overview -->

              <!-- edit profile -->
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form
                  action="{{ url_for('update_admin_profile') }}"
                  method="POST"
                >
                  <!-- first name -->
                  <div class="row mb-3">
                    <label
                      for="firstName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >First Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="firstName"
                        type="text"
                        class="form-control"
                        id="firstName"
                        value="{{ user.firstName }}"
                      />
                    </div>
                  </div>

                  <!-- last name -->
                  <div class="row mb-3">
                    <label
                      for="lastName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Last Name</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="lastName"
                        type="text"
                        class="form-control"
                        id="lastName"
                        value="{{ user.lastName }}"
                      />
                    </div>
                  </div>

                  <!-- email -->
                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label"
                      >Email</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="email"
                        value="{{ user.email }}"
                      />
                    </div>
                  </div>

                  <!-- phone -->
                  <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label"
                      >Phone</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="phone"
                        type="number"
                        class="form-control"
                        id="phone"
                        value="{{ user.phone }}"
                      />
                    </div>
                  </div>

                  <!-- profile image -->
                  <div class="row mb-3">
                    <label
                      for="profile_image"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Profile Image</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="profile_image"
                        type="text"
                        class="form-control"
                        id="profile_image"
                        value="{{ user.profile_image }}"
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
                <!-- End Profile Edit Form -->
              </div>
              <!-- end edit profile -->

              <!-- settings -->
              <div class="tab-pane fade pt-3" id="profile-settings">
                <form>
                  <div class="row mb-3">
                    <label
                      for="fullName"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Email Notifications</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="changesMade"
                          checked
                        />
                        <label class="form-check-label" for="changesMade">
                          Changes made to your account
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="newProducts"
                          checked
                        />
                        <label class="form-check-label" for="newProducts">
                          Information on new products and services
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="proOffers"
                        />
                        <label class="form-check-label" for="proOffers">
                          Marketing and promo offers
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="securityNotify"
                          checked
                          disabled
                        />
                        <label class="form-check-label" for="securityNotify">
                          Security alerts
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Save Changes
                    </button>
                  </div>
                </form>
                <!-- End settings Form -->
              </div>
              <!-- end settings -->

              <!-- change password -->
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <form
                  action="{{ url_for('update_admin_password') }}"
                  method="POST"
                >
                  <!-- error message -->
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-danger">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}
                  <!-- end error message -->

                  <!-- current password -->
                  <div class="row mb-3">
                    <label
                      for="currentPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Current Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="currentPassword"
                        type="password"
                        class="form-control"
                        id="currentPassword"
                        required
                      />
                    </div>
                  </div>

                  <!-- new password -->
                  <div class="row mb-3">
                    <label
                      for="newPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="newPassword"
                        type="password"
                        class="form-control"
                        id="newPassword"
                        required
                      />
                    </div>
                  </div>

                  <!-- confirm new password -->
                  <div class="row mb-3">
                    <label
                      for="confirmNewPassword"
                      class="col-md-4 col-lg-3 col-form-label"
                      >Confirm New Password</label
                    >
                    <div class="col-md-8 col-lg-9">
                      <input
                        name="confirmNewPassword"
                        type="password"
                        class="form-control"
                        id="confirmNewPassword"
                        required
                      />
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Change Password
                    </button>
                  </div>
                </form>
                <!-- End Change Password Form -->
              </div>
              <!-- end change password -->
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
