{% extends "admin/layouts/account-base.html" %} {% block content %}

<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-3"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <a
                href="{{ url_for('dashboard') }}"
                class="logo d-flex align-items-center w-auto"
              >
                <img
                  src="{{ url_for('static', filename='admin/assets/img/logo.png') }}"
                  alt=""
                />
                <span class="d-none d-lg-block">NiceAdmin</span>
              </a>
            </div>
            <!-- End Logo -->

            <div class="card mb-5">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                  <p class="text-center small">
                    Enter your personal details to create account
                  </p>
                </div>

                <form
                  action="{{ url_for('admin_register') }}"
                  method="POST"
                  class="row g-3 needs-validation"
                >
                  <!-- error message -->
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-danger">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}
                  <!-- end error message -->

                  <!-- first name -->
                  <div class="col-12">
                    <label for="firstName" class="form-label">First Name</label>
                    <input
                      type="text"
                      name="firstName"
                      class="form-control"
                      id="firstName"
                      required
                    />
                    <div class="invalid-feedback">
                      Please, enter your First Name!
                    </div>
                  </div>

                  <!-- last name -->
                  <div class="col-12">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input
                      type="text"
                      name="lastName"
                      class="form-control"
                      id="lastName"
                      required
                    />
                    <div class="invalid-feedback">Please, enter your name!</div>
                  </div>

                  <!-- email -->
                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="yourEmail"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter a valid Email adddress!
                    </div>
                  </div>

                  <!-- image -->
                  <div class="col-12">
                    <label for="profile_image" class="form-label"
                      >Profile Image URL</label
                    >
                    <input
                      type="text"
                      name="profile_image"
                      class="form-control"
                      id="profile_image"
                      required
                    />
                    <div class="invalid-feedback">Please, enter your name!</div>
                  </div>

                  <!-- phone -->
                  <div class="col-12">
                    <label for="phone" class="form-label">Contact Number</label>
                    <input
                      type="number"
                      name="phone"
                      class="form-control"
                      id="phone"
                      required
                    />
                    <div class="invalid-feedback">Contact Number</div>
                  </div>

                  <!-- password -->
                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="password"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter your password!
                    </div>
                  </div>

                  <!-- confirm password -->
                  <div class="col-12">
                    <label for="confirmPassword" class="form-label"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      name="confirmPassword"
                      class="form-control"
                      id="confirmPassword"
                      required
                    />
                    <div class="invalid-feedback">
                      Please enter your confirm password!
                    </div>
                  </div>

                  <!-- agree -->
                  <div class="col-12">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        name="agree"
                        type="checkbox"
                        id="acceptTerms"
                        required
                      />
                      <label class="form-check-label" for="acceptTerms"
                        >I agree and accept the
                        <a href="#">terms and conditions</a></label
                      >
                      <div class="invalid-feedback">
                        You must agree before submitting.
                      </div>
                    </div>
                  </div>

                  <!-- button -->
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Create Account
                    </button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">
                      Already have an account?
                      <a href="{{ url_for('admin_login') }}">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->

{% endblock %}
