{% extends "admin/layouts/account-base.html" %}

<!--  -->

{% block title %} Reset Password | Fantom Blogs Admin {% endblock %}

<!--  -->

{% block content %}

<main>
  <div class="container">
    <section
      class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="d-flex justify-content-center py-4">
              <div class="logo d-flex align-items-center w-auto">
                <img
                  src="{{ url_for('static', filename='admin/assets/img/logo.png') }}"
                  alt=""
                />
                <span class="d-none d-lg-block"> FantomAdmin</span>
              </div>
            </div>
            <!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-4">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Reset Password
                  </h5>
                  <p class="text-center small">Enter your new password</p>
                </div>

                <form class="row g-3 needs-validation" method="POST">
                  <!-- error message -->
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-danger">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}
                  <!-- end error message -->

                  <!-- new password -->
                  <div class="col-12">
                    <label for="newPassword" class="form-label"
                      >New Password</label
                    >
                    <input
                      type="password"
                      name="newPassword"
                      class="form-control"
                      id="newPassword"
                      required
                    />
                    <div class="invalid-feedback">New Password</div>
                  </div>
                  <!-- end new password -->

                  <!-- confirm new password -->
                  <div class="col-12">
                    <label for="confirmmNewPassword" class="form-label"
                      >Confirm New Password</label
                    >
                    <input
                      type="password"
                      name="confirmmNewPassword"
                      class="form-control"
                      id="confirmmNewPassword"
                      required
                    />
                    <div class="invalid-feedback">Confirm New Password</div>
                  </div>
                  <!-- end confirm new password -->

                  <!-- button -->
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">
                      Login
                    </button>
                  </div>

                  <!-- register -->
                  <div class="col-12 pt-4">
                    <p class="small mb-0">
                      Don't have account ?
                      <a href="{{ url_for('admin_register') }}"
                        ><strong>Create an account</strong></a
                      >
                    </p>
                  </div>
                  <!-- end register -->

                  <!-- forget password -->
                  <div class="col-12">
                    <p class="small mb-0">
                      If you forget password ?
                      <a href="{{ url_for('admin_forget_password') }}"
                        ><strong>Forget Password</strong></a
                      >
                    </p>
                  </div>
                  <!-- end forget password -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- End #main -->

{% endblock %}
