{% extends "admin/layouts/base.html" %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Posts List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="breadcrumb-item">Contacts</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-decoration: underline">
              List of All Contacts
            </h5>

            <!-- Table -->
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">User</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Message</th>
                  <th scope="col">Contact Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for contact in contacts: %}
                <tr>
                  <th scope="row">{{ contact.id }}</th>
                  <td>
                    <a href="#"> {{ contact.user.email }} </a>
                  </td>
                  <td>{{ contact.subject }}</td>
                  <td>{{ contact.message }}</td>
                  <td>{{ contact.send_date }}</td>
                  <td>
                    <a
                      href="{{ url_for('done_contact', contact_id=contact.id) }}"
                    >
                      {% if contact.status == True %}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        fill="currentColor"
                        class="bi bi-check-lg"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                        />
                      </svg>
                      {% else %}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        fill="red"
                        class="bi bi-hourglass"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z"
                        />
                      </svg>
                      {% endif %}
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- End Table -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}

<!-- get user details modal -->
{#

<td>
  <div type="button" data-bs-toggle="modal" data-bs-target="#info">
    {{ contact.user.email }}
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="info"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- user detail body -->
          <div>
            <strong>ID : </strong>{{ contact.user.id }} <br />
            <strong>First Name : </strong>{{ contact.user.firstName }} <br />
            <strong>Last Name : </strong>{{ contact.user.lastName }} <br />
            <strong>Email : </strong>{{ contact.user.email }}
            <br />
            <strong>Phone : </strong>{{ contact.user.phone }}
            <br />
            <strong>Account Created Date : </strong>{{ contact.user.created_date
            }} <br />
            <strong>Last Loggin Date : </strong>{{ contact.user.last_login }}
            <br />
          </div>
          <!-- end user detail body -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal -->
</td>

#}
