{% extends "admin/layouts/base.html" %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>All Posts List</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="breadcrumb-item">Users</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="text-decoration: underline">
              List of All Users
            </h5>

            <!-- Table -->
            <div style="overflow-x: auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="min-width: 120px">Image</th>
                    <th scope="col" style="min-width: 200px">Name</th>
                    <th scope="col" style="min-width: 200px">Email</th>
                    <th scope="col" style="min-width: 200px">Create Date</th>
                    <th scope="col" style="min-width: 100px">Active</th>
                    <th scope="col" style="min-width: 100px">Admin</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users: %}
                  <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>
                      <img
                        src="{{ user.profile_image }}"
                        style="width: 100px; border-radius: 1rem"
                      />
                    </td>
                    <td>{{ user.firstName }} {{ user.lastName }}</td>
                    <td>
                      <a
                        href="{{ url_for('admin_user_profile', user_id=user.id) }}"
                        >{{ user.email }}</a
                      >
                    </td>
                    <td>{{ user.created_date }}</td>
                    <td>{{ user.active }}</td>
                    <td>{{ user.admin }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
