{% extends "admin/layouts/base.html" %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>User All Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="breadcrumb-item">User Profile</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <!-- profile details -->
        <div class="card">
          <div class="card-body p-4">
            <h5 class="card-title p-1 pb-4" style="text-decoration: underline">
              Profile Details
            </h5>
            <!-- detail -->
            <div class="row">
              <div class="col-lg-4 mb-5">
                <img
                  src="{{ user.profile_image }}"
                  alt=""
                  style="max-width: 100%; border-radius: 1rem"
                />
              </div>
              <div class="col-lg-8">
                <strong> ID : </strong> {{ user.id }}
                <hr />
                <strong>First Name : </strong> {{ user.firstName }}
                <hr />
                <strong>Last Name : </strong> {{ user.lastName }}
                <hr />
                <strong>Email : </strong> {{ user.email }}
                <hr />
                <strong>Phone : </strong> {{ user.phone }}
                <hr />
                <strong> Admin: </strong> {{ user.admin }}
                <hr />
                <strong>Active : </strong> {{ user.active }}
                <hr />
                <strong>Created Date : </strong> {{ user.created_date }}
                <hr />
                <strong>Last Login : </strong> {{ user.last_login }}
                <hr />
                <!-- make admin -->
                <div>
                  {% if user.admin == True %}
                  <!--  -->
                  User is currently admin, if you want you can make normal user
                  ?
                  <a
                    href="{{ url_for('admin_make_users', user_id=user.id) }}"
                    class="btn btn-danger"
                    >Remove as Admin</a
                  >
                  {% else %}
                  <!--  -->
                  If you want you can make user admin ?
                  <a
                    href="{{ url_for('admin_make_users', user_id=user.id) }}"
                    class="btn btn-primary"
                    >Make as Admin</a
                  >
                  {% endif %}
                </div>
                <hr />
                <!-- user active or not -->
                <div>
                  {% if user.active == True %}
                  <!--  -->
                  User currently active, if you want you can deactivate user
                  account ?
                  <a
                    href="{{ url_for('admin_activate_users', user_id=user.id) }}"
                    class="btn btn-danger"
                    >Deactivate Account</a
                  >
                  {% else %}
                  <!--  -->
                  User currently deactivate, if you want you can activate user
                  now ?
                  <a
                    href="{{ url_for('admin_deactivate_users', user_id=user.id) }}"
                    class="btn btn-primary"
                    >Activate Account</a
                  >
                  {% endif %}
                </div>
                <!-- end user active or not -->
              </div>
            </div>
            <!-- end detail -->
          </div>
        </div>
        <!-- end profile details -->

        <!-- contact -->
        <div class="card">
          <div class="card-body p-4">
            <h5 class="card-title p-1 pb-4" style="text-decoration: underline">
              Contacts List
            </h5>
            {% if contacts == [] %}
            <div style="color: red">User did not bookmark any post</div>
            {% else %}
            <!-- Table -->
            <div style="overflow-x: auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="min-width: 200px">Subject</th>
                    <th scope="col" style="min-width: 350px">Message</th>
                    <th scope="col" style="min-width: 200px">Contact Date</th>
                    <th scope="col" style="min-width: 100px">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for contact in contacts: %}
                  <tr>
                    <th scope="row">{{ contact.id }}</th>
                    <td>{{ contact.subject }}</td>
                    <td>{{ contact.message }}</td>
                    <td>{{ contact.send_date }}</td>
                    <td>
                      <a
                        href="{{ url_for('done_contact', contact_id=contact.id) }}"
                      >
                        {% if contact.status == True %}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="currentColor"
                          class="bi bi-check-lg"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"
                          />
                        </svg>
                        {% else %}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="red"
                          class="bi bi-hourglass"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z"
                          />
                        </svg>
                        {% endif %}
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table -->
            {% endif %}
          </div>
        </div>
        <!-- end contact -->

        <!-- comments -->
        <div class="card">
          <div class="card-body p-4">
            <h5 class="card-title p-1 pb-4" style="text-decoration: underline">
              Comments List
            </h5>
            {% if comments == [] %}
            <div style="color: red">User did not bookmark any post</div>
            {% else %}
            <!-- Table -->
            <div style="overflow-x: auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="min-width: 300px">Post Title</th>
                    <th scope="col" style="min-width: 350px">Comment</th>
                    <th scope="col" style="min-width: 200px">Comment Date</th>
                    <th scope="col" style="min-width: 100px">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for comment in comments: %}
                  <tr>
                    <th scope="row">{{ comment.id }}</th>
                    <td>
                      <a
                        href="{{ url_for('post_detail', post_id=comment.post.id) }}"
                        target="_blank"
                        >{{ comment.post.title }}</a
                      >
                    </td>
                    <td>{{ comment.text_comment }}</td>
                    <td>{{ comment.date_comment }}</td>
                    <td>
                      <a
                        href="{{ url_for('admin_delete_comments', comment_id=comment.id) }}"
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="red"
                          class="bi bi-trash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          />
                        </svg>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table -->
            {% endif %}
          </div>
        </div>
        <!-- end comments -->

        <!-- bookmark -->
        <div class="card">
          <div class="card-body p-4">
            <h5 class="card-title p-1 pb-4" style="text-decoration: underline">
              Bookmarks List
            </h5>
            {% if bookmarks == [] %}
            <div style="color: red">User did not bookmark any post</div>
            {% else %}
            <!-- Table -->
            <div style="overflow-x: auto">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="min-width: 300px">Post Title</th>
                    <th scope="col" style="min-width: 200px">Bookmark Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bookmark in bookmarks: %}
                  <tr>
                    <th scope="row">{{ bookmark.id }}</th>
                    <td>
                      <a
                        href="{{ url_for('post_detail', post_id=bookmark.post.id) }}"
                        target="_blank"
                        >{{ bookmark.post.title }}</a
                      >
                    </td>
                    <td>{{ bookmark.bookmark_date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- End Table -->
            {% endif %}
          </div>
        </div>
        <!-- end bookmark -->
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

{% endblock %}
