{% extends "blog/layouts/base.html" %} {% block content %}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div
      class="overlay bg-parallax"
      data-stellar-ratio="0.9"
      data-stellar-vertical-offset="0"
      data-background=""
    ></div>
    <div class="container">
      <div class="banner_content text-center">
        <h2>Login Your Account</h2>
        <div class="page_link">
          <a href="{{ url_for('home') }}">Home</a>
          <span style="color: white">Forget Password</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Contact Area =================-->
<section class="contact_area pad-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6 card div-form">
          <form
            class="row contact_form"
            action="{{ url_for('forget_password_send') }}"
            method="POST"
          >
            <!-- start input -->
            <div class="col-md-12">
              <!-- flash message -->
              {% with messages = get_flashed_messages() %} {% if messages %} {%
              for message in messages %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %} {% endif %} {% endwith %}

              <!-- note about reset password -->
              <div class="pb-5">
                <h3>Let's get you into your account</h3>
                <ul>
                  <li>
                    Tell us your email address, then we will send you password
                    reset link.
                  </li>
                  <li>Please enter correct email address.</li>
                  <li>
                    If your email does not exists then you will not get password
                    reset link.
                  </li>
                </ul>
              </div>

              <!-- email -->
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter email address"
                />
              </div>

              <!-- button -->
              <div class="col-md-12 text-center">
                <button type="submit" value="submit" class="btn submit_btn">
                  Send
                </button>
              </div>
            </div>
          </form>

          <!-- create new account -->
          <div class="account-form pt-5">
            Don't have account?
            <a href="{{ url_for('register') }}"
              ><strong>Create New Account</strong></a
            >
          </div>

          <!-- login -->
          <div class="account-form">
            Already have an account?
            <a href="{{ url_for('login') }}"><strong>Log in</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Contact Area =================-->

{% endblock %}
