<aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <!-- dahsboard -->
        <li class="nav-item">
          <a 
            {% if '/admin/' == path: %}
                class="nav-link"
            {% else: %}
                class="nav-link collapsed"
            {% endif %}
           href="{{ url_for('dashboard') }}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <!-- add new post -->
        <li class="nav-item">
          <a 
            {% if '/admin/new-post' == path: %}
                class="nav-link"
            {% else: %}
                class="nav-link collapsed"
            {% endif %}
          href="{{ url_for('new_post') }}">
            <i class="bi bi-plus-square"></i>
            <span>Add New Post</span>
          </a>
        </li>

        <!-- get all posts -->
        <li class="nav-item">
          <a 
            {% if '/admin/get-all-post' == path: %}
                class="nav-link"
            {% else: %}
                class="nav-link collapsed"
            {% endif %}
          href="{{ url_for('get_all_post') }}">
            <i class="bi bi-card-list"></i>
            <span>Posts</span>
          </a>
        </li>

        <!-- profile -->
        <li class="nav-item">
          <a 
            {% if '/admin/profile' == path: %}
                class="nav-link"
            {% else: %}
                class="nav-link collapsed"
            {% endif %}
          href="{{ url_for('admin_profile') }}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>

        <!-- contacts -->
        <li class="nav-item">
          <a 
            {% if '/admin/contact' == path: %}
                class="nav-link"
            {% else: %}
                class="nav-link collapsed"
            {% endif %}
          href="{{ url_for('admin_contact') }}">
            <i class="bi bi-envelope"></i>
            <span>Contact</span>
          </a>
        </li>

        <!-- users -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-people"></i>
            <span>Users</span>
          </a>
        </li>

        <!-- comments on post -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-chat-left-text"></i>
            <span>Comments</span>
          </a>
        </li>

        <!-- preview site -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('home') }}" target="_blank">
            <i class="bi bi-box-arrow-up-right"></i>
            <span>Preview Site</span>
          </a>
        </li>

        <!-- logout -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="{{ url_for('admin_logout') }}">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Logout</span>
          </a>
        </li>
        <!-- End Login Page Nav -->
      </ul>
    </aside>