{% extends "blog/layouts/base.html" %} {% block content %}

<!--================ Profile Area =================-->
<section class="contact_area" style="padding: 2rem 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="p-1 bg-white rounded shadow mb-1">
          <!-- Rounded tabs -->
          <ul
            id="myTab"
            role="tablist"
            class="nav nav-tabs nav-pills flex-column flex-sm-row text-center tab-style border-0 rounded-nav"
          >
            <!-- Profile Details -->
            <li class="nav-item flex-sm-fill">
              <a
                id="home-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                class="nav-link border-0 text-uppercase font-weight-bold active"
                >Profile Details</a
              >
            </li>

            <!-- bookmark Posts -->
            <li class="nav-item flex-sm-fill">
              <a
                id="profile-tab"
                data-toggle="tab"
                href="#bookmark"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold"
                >Bookmarks Posts</a
              >
            </li>

            <!-- Comments -->
            <li class="nav-item flex-sm-fill">
              <a
                id="contact-tab"
                data-toggle="tab"
                href="#comments"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold"
                >Comments</a
              >
            </li>

            <!-- Contact -->
            <li class="nav-item flex-sm-fill">
              <a
                id="profile-tab"
                data-toggle="tab"
                href="#contact"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold"
                >Contacts</a
              >
            </li>

            <!-- Change Password -->
            <li class="nav-item flex-sm-fill">
              <a
                id="contact-tab"
                data-toggle="tab"
                href="#password"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold"
                >Change Password</a
              >
            </li>

            <!-- Settings -->
            <li class="nav-item flex-sm-fill">
              <a
                id="contact-tab"
                data-toggle="tab"
                href="#settings"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                class="nav-link border-0 text-uppercase font-weight-bold"
                >Settings</a
              >
            </li>
          </ul>

          <!-- 

                tab body
                
             -->

          <div id="myTabContent" class="tab-content mt-4">
            <!-- Profile Details -->
            <div
              id="profile"
              role="tabpanel"
              aria-labelledby="home-tab"
              class="tab-pane fade p-3 show active"
            >
              <div class="row">
                <!-- imgage -->
                <div class="col-lg-4 pro-img-container">
                  <img
                    class="profile-img"
                    src="{{ user.profile_image }}"
                    alt=""
                  />
                </div>
                <!-- data -->
                <div class="col-lg-8 profile-body">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <strong>First Name :</strong> {{ user.firstName }}
                      </li>
                      <li class="list-group-item">
                        <strong>Last Name :</strong> {{ user.lastName }}
                      </li>
                      <li class="list-group-item">
                        <strong>Email :</strong> {{ user.email }}
                      </li>
                      <li class="list-group-item">
                        <strong>Contact Number :</strong> {{ user.phone }}
                      </li>
                      <li class="list-group-item">
                        <strong>Total Saved Posts :</strong> 12
                      </li>
                      <li class="list-group-item">
                        <strong>Account Created Date :</strong> {{
                        user.created_date }}
                      </li>
                      <li class="list-group-item">
                        <strong>Last Logged In :</strong> {{ user.last_login }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <!-- Bookmarks Posts -->
            <div
              id="bookmark"
              role="tabpanel"
              aria-labelledby="profile-tab"
              class="tab-pane fade p-3"
            >
              <div class="row">
                <div style="overflow-x: auto">
                  {% if bookmarks_posts == [] %}
                  <div>
                    <h1>Empty</h1>
                    <p>You don't have bookmark any post yet.</p>
                  </div>
                  {% else %}
                  <table class="table table-hover bookmark-table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Preview</th>
                        <th scope="col" style="min-width: 500px">Title</th>
                        <th scope="col" style="min-width: 200px">
                          Bookmark Date
                        </th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for bookmark in bookmarks_posts %}
                      <tr>
                        <th scope="row">{{ bookmark.id }}</th>

                        <!-- post preview -->
                        <td>
                          <img
                            src="{{ bookmark.post.image_url }}"
                            class="bookmark-preview-image"
                          />
                        </td>

                        <!-- post title -->
                        <td style="font-size: 1.2rem; padding: 1.2rem 0">
                          <a
                            href="{{ url_for('post_detail', post_id=bookmark.post.id) }}"
                            >{{ bookmark.post.title }}</a
                          >
                        </td>

                        <!-- date bookmark -->
                        <td>{{ bookmark.bookmark_date.split("|")[1] }}</td>

                        <!-- remove bookmark -->
                        <td>
                          <a
                            href="{{ url_for('bookmark', post_id=bookmark.post.id) }}"
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="25"
                              height="25"
                              fill="red"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              />
                            </svg>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Comments  -->
            <div
              id="comments"
              role="tabpanel"
              aria-labelledby="contact-tab"
              class="tab-pane fade p-3"
            >
              <div class="row">
                <div style="overflow-x: auto">
                  {% if comments == [] %}
                  <div>
                    <h1>Empty</h1>
                    <p>You didn't post any comments in any post yet.</p>
                  </div>
                  {% else %}
                  <table class="table table-hover bookmark-table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col" style="min-width: 500px">Title</th>
                        <th scope="col" style="min-width: 500px">Comment</th>
                        <th scope="col" style="min-width: 200px">
                          Commented Date
                        </th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for comment in comments %}
                      <tr>
                        <th scope="row">{{ comment.id }}</th>

                        <!-- post title -->
                        <td style="font-size: 1.2rem; padding: 1.2rem 0">
                          <a
                            href="{{ url_for('post_detail', post_id=comment.post.id) }}"
                            >{{ comment.post.title }}</a
                          >
                        </td>

                        <!-- comment -->
                        <td style="font-size: 1.2rem; padding: 1.2rem 0">
                          {{ comment.text_comment }}
                        </td>

                        <!-- date comment -->
                        <td>{{ comment.date_comment.split("|")[1] }}</td>

                        <!-- remove comment -->
                        <td>
                          <a
                            href="{{ url_for('delete_comment', comment_id=comment.id) }}"
                            ><svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="25"
                              height="25"
                              fill="red"
                              class="bi bi-trash"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                              />
                              <path
                                fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                              />
                            </svg>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- contact -->
            <div
              id="contact"
              role="tabpanel"
              aria-labelledby="profile-tab"
              class="tab-pane fade p-3"
            >
              <div class="row">
                <table class="table table-hover table-responsive saved-table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Subject</th>
                      <th scope="col">Message</th>
                      <th scope="col">Sent Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for contact in contact_list %}
                    <tr>
                      <th scope="row" id="contact_number">{{ contact.id }}</th>
                      <td>{{ contact.subject }}</td>
                      <td>{{ contact.message }}</td>
                      <td>{{ contact.send_date }}</td>
                    </tr>
                    {% endfor %}

                    <!-- new -->
                    {# {% for contact in contact_list %}
                    <tr>
                      <th scope="row" id="contact_number"></th>
                      <td>{{ contact.subject }}</td>
                      <td>{{ contact.message }}</td>
                      <td>{{ contact.send_date }}</td>
                    </tr>
                    {% endfor %} #}

                    <!-- <script>
                      for (i = 0; i <= "{{contact_list|length}}"; i++) {
                        document.getElementById("contact_number").textContent =
                          i;
                      }
                    </script> -->

                    <!-- end new -->
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Change Password -->
            <div
              id="password"
              role="tabpanel"
              aria-labelledby="contact-tab"
              class="tab-pane fade p-3"
            >
              <!-- start form -->
              <div class="row">
                <div class="col-lg-6">
                  <form action="{{ url_for('change_password') }}" method="post">
                    <!-- flash message -->
                    {% with messages = get_flashed_messages() %} {% if messages
                    %} {% for message in messages %}
                    <p style="color: red">{{ message }}</p>
                    {% endfor %} {% endif %} {% endwith %}
                    <!-- current password -->
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="currentPassword"
                        placeholder="Current Password"
                      />
                    </div>

                    <!-- new password -->
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="newPassword"
                        placeholder="New Password"
                      />
                    </div>

                    <!-- confirm new password -->
                    <div class="form-group">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="confirmNewPassword"
                        placeholder="Confirm NewPassword"
                      />
                    </div>

                    <div class="col-md-12 text-center">
                      <button
                        type="submit"
                        value="submit"
                        class="btn submit_btn"
                      >
                        Update Password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- end form -->
            </div>

            <!-- Settings  -->
            <div
              id="settings"
              role="tabpanel"
              aria-labelledby="contact-tab"
              class="tab-pane fade"
            >
              <div class="col-lg-12">
                {% include 'blog/include/settings.html' %}
              </div>
              <div class="col-lg-12 mt-5">
                <a href="{{ url_for('delete_account') }}">
                  <div class="btn btn-danger">Delete Account</div>
                </a>
              </div>
            </div>
          </div>
          <!-- End rounded tabs -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ Profile Area =================-->

{% endblock %}
